@import "variables";

* {
    font-family: $font;
    padding: 0;
    margin: 0; 
}

html {
    width: 1440px;
    margin: 0 auto;
    font-size: 10px;
}

.header {
    width: 112rem;
    height: 11.6rem;
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__logo {
        font: 700 2.4rem / 100% $font;
        color: #1C2A39;
    }
}

.header__mobil-menu {
    display: none;
}

.menu {
    width: 37.2rem;
    .menu__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        .menu__list-item {
            .menu__list-item-link {
                text-decoration: none;
                text-transform: uppercase;
                color: #5C6A79;
                font: 700 1rem / 100% $font;
            }
            .menu__list-item-link_active,
            .menu__list-item-link:hover {
                color: #1C2A39;
                font-weight: 900;
            }
        }   
    }
}

.header__user {
    width: 12.084rem;
    display: flex;
    justify-content: space-between;
}

.wrapper {
    width: 144rem;
    margin: 0 auto;
}

.banner {
    width: 112rem;
    position: relative;
    margin: 0 auto;
    .baner__img {
        height: 70.2rem;
        background: 100% 100%;
        img {
            width: 112rem;
            height: 70.2rem;
            background: 100% 100%;
        }
    }
    .banner__slider-dots {
        width: 5.6rem;
        height: 1.2rem;
        margin: 1.7rem auto 0;
        display: flex;
        justify-content: space-between;
        .banner__slider-dots-dot {
            width: 1.2rem;
            height: 1.2rem;
            border-radius: 50%;
            background-color: #EFEEF6;
            cursor: pointer;
        }
        .banner__slider-dots-dot_active {
            background-color: #9E98DC;
        }
    }
}

.banner__prome-one,
.banner__prome-two {
    position: absolute;
}

.banner__prome-one {
    width: 14.9rem;
    height: 20.4rem;
    top: 8.2rem;
    left: 105.7rem;
    box-shadow: 0px 24px 36px 0px #35315447;
    background-color: #9E98DC;
}
.banner__prome-one-link {
    display: block;
    color: #1C2A39;
    text-decoration: none;
    text-transform: uppercase;
    font: 700 1.8rem / 100% $font;
    padding: 10.2rem 2rem 2rem 2rem;
}
.banner__prome-two {
    width: 13.7rem;
    height: 27.3rem;
    top: 36.2rem;
    left: 114.3rem;
    box-shadow: 0px 24px 36px 0px #35315447;
    background-color: #FF8FE6;
}
.banner__prome-two-link {
    @extend .banner__prome-one-link;
    padding: 14.9rem 4.7rem 2rem 2.1rem;
}

.container {
    width: 144rem;
    margin-top: 10.5rem;
    display: flex;
    .containner__categories {
        width: 41.6rem;
        height: 71rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #EFEEF6;
        .containner__categories-list {
            list-style: none;
            margin-top: 4.5rem;
            margin-bottom: 8.1rem;
            .containner__categories-list-item {
                .containner__categories-list-item-submit {
                    border: none;
                    font: 500 1.2rem / 100% $font;
                    color: #5C6A79;
                    cursor: pointer;
                }
                .containner__categories-list-item-submit_active {
                    font: 700 1.6rem $font;
                    color: #1C2A39;
                }
            }
            .containner__categories-list-item_active {
                position: relative;
            }
            .containner__categories-list-item_active::before {
                content: " ";
                position: absolute;
                width: 0.6rem;
                height: 0.6rem;
                background-color: #756AD3;
                border-radius: 50%;
                top: 0.7rem; 
                left: -1.4rem;
            }
            .containner__categories-list-item:not(:last-of-type) {
                padding-bottom: 2.3rem;
            }    
        }
        
    }
    .container__books {
        width: 92.4rem;
        display: flex;
        column-gap: 7.6rem;
        row-gap: 9.6rem;
        flex-wrap: wrap;
        z-index: 1;
        margin-top: 4.6rem;
        margin-left: -4rem;
        .container__books-block {
            width: 42.4rem;
            height: 30rem;
            display: flex;
            gap: 3.6rem;
            
            .container__books-block-img {
                width: 21.2rem;
                height: 30rem;
                box-shadow: 0px 24px 36px 0px #35315447;
            }
            .container__books-block-info {
                width: 17.6rem;
                height: 20.3rem;
                margin-top: 5rem;
                .container__books-block-info-autor {
                    font: 1rem $fontDescriptions;
                    color: $colorTextDescriptions;
                }
                .container__books-block-info-title{
                    font: 700 1.6rem / 100% $font;
                    color: $colorTitleBook;
                    padding-top: 0.4rem;
                    display: -webkit-box;
                    line-clamp: -webkit-line;  
                    -webkit-box-orient: vertical;  
                    -webkit-line-clamp: 1; /* Ограничить 3 строками */  
                    overflow: hidden;  
                    text-overflow: ellipsis; 
                }
                .container__books-block-info-rating {
                    width: 17.6rem;
                    display: flex;
                    gap: 0.6rem;
                    margin-top: 0.4rem;
                    .container__books-block-info-rating-ratingsCount,
                    .container__books-block-info-rating-averageRating {
                        font: 1rem $fontDescriptions;
                        color: $colorTextDescriptions;
                    }
                }
                .container__books-block-info-description{
                    width: 17.6rem;
                    font: 1rem / 100% $fontDescriptions;
                    color: $colorTextDescriptions;
                    display: -webkit-box;
                    line-clamp: -webkit-line;    
                    -webkit-box-orient: vertical;  
                    -webkit-line-clamp: 3; /* Ограничить 3 строками */  
                    overflow: hidden;  
                    text-overflow: ellipsis; 
                    margin-top: 1.6rem;
                }
                .container__books-block-info-price {
                    font: 700 1.3rem / 100% $font;
                    display: block;
                    padding-top: 1.6rem;
                    color: $colorTitleBook;
                }
                .container__books-block-info-btn {
                    @extend .btn;
                }
                .container__books-block-info-btn_active {
                    @extend .btn-hover;
                }
                .container__books-block-info-btn:hover {
                    @extend .btn-hover;
                }
            }
        }
    }
}

.container__btn {
    @extend .btn;
    display: block;
    margin: 9.6rem 52.3rem 7.4rem 74.1rem;
}
.container__btn:hover {
    @extend .btn-hover;
}

.header__user-block-cart {
    position: relative;
    cursor: pointer;
}
.header__user-block-cart-numberBooks {
    width: 1.6rem;
    height: 1.6rem;
    background-color: #FF353A;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0.8rem;
    left: 0.5rem;
    .header__user-block-cart-numberBooks-text{
        color: #FFFFFF;
        font: 500 1rem / 100% $font;
    }
}

@import "styleMobil";



