@import "variables";

* {
    font-family: $font;
    padding: 0;
    margin: 0;
    
}

html {
    width: 1440px;
    margin: 0 auto;
    font-size: 10px;
}

.header {
    width: 112rem;
    height: 11.6rem;
    margin: 0 auto;
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__logo {
        font: 700 2.4rem / 100% $font;
        color: #1C2A39;
    }
}

.menu {
    width: 37.2rem;
    .menu__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        .menu__list-item {
            .menu__list-item-link {
                text-decoration: none;
                text-transform: uppercase;
                color: #5C6A79;
                font: 700 1rem / 100% $font;
            }
            .menu__list-item-link_active,
            .menu__list-item-link:hover {
                color: #1C2A39;
                font-weight: 900;
            }
        }   
    }
}

.header__user {
    width: 12.084rem;
    display: flex;
    justify-content: space-between;
}

.wrapper {
    width: 144rem;
    margin: 0 auto;
}

.banner {
    width: 112rem;
    position: relative;
    margin: 0 auto;
    .baner__img {
        height: 70.2rem;
        background: 100% 100%;
        img {
            width: 112rem;
            height: 70.2rem;
            background: 100% 100%;
        }
    }
    .banner__slider-dots {
        width: 5.6rem;
        height: 1.2rem;
        margin: 1.7rem auto 0;
        display: flex;
        justify-content: space-between;
        .banner__slider-dots-dot {
            width: 1.2rem;
            height: 1.2rem;
            border-radius: 50%;
            background-color: #EFEEF6;
            cursor: pointer;
        }
        .banner__slider-dots-dot_active {
            background-color: #9E98DC;
        }
    }
}

.banner__prome-one,
.banner__prome-two {
    position: absolute;
}

.banner__prome-one {
    top: 8.2rem;
    left: 105.7rem;
}

.banner__prome-two {
    top: 36.2rem;
    left: 114.3rem;
}

.container {
    width: 144rem;
    margin-top: 10.5rem;
    .containner__categories {
        width: 41.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #EFEEF6;
        .containner__categories-list {
            list-style: none;
            margin-top: 4.5rem;
            margin-bottom: 8.1rem;
            .containner__categories-list-item {
                .containner__categories-list-item-submit {
                    border: none;
                    font: 500 1.2rem / 100% $font;
                    color: #5C6A79;
                    cursor: pointer;
                }
                .containner__categories-list-item-submit_active {
                    font: 700 1.6rem $font;
                    color: #1C2A39;
                }
            }
            .containner__categories-list-item_active {
                position: relative;
            }
            .containner__categories-list-item_active::before {
                content: " ";
                position: absolute;
                width: 0.6rem;
                height: 0.6rem;
                background-color: #756AD3;
                border-radius: 50%;
                top: 0.7rem; 
                left: -1.4rem;
            }
            .containner__categories-list-item:not(:last-of-type) {
                padding-bottom: 2.3rem;
            }    
        }
        
    }
}